<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Welcome to CircleCI's Trainning!</h1>
  <img width="300" alt="CircleCI Logo" src="https://seekvectorlogo.com/wp-content/uploads/2020/11/circleci-circle-internet-services-inc-vector-logo.png">
</div>
<h2><a target="_blank" rel="noopener" href="https://circleci.com/docs/2.0/configuration-reference/">Configuration Reference</a></h2>
